body {
  background-color: #FFFFFF;
  color: #000000;
  padding: 3px}

#wrapper { margin: 0 auto;
width: 80%;
min-width: 960px;
max-width: 1200px;}

header { height: 100px;
  text-align: center;}

table { margin: auto;
border: 5xp solid #000000;
width: 600px;}

td,th {border: 1px solid #000000;
padding: 0.5em;}

caption {font-weight: bold;
font-size: 1.2em;
padding-bottom: 0.5em}

h1 {margin-bottom: 20px;}

h2 { background-color:#FFFFFF;
     padding: 3px;
     text-align: center;
     border-bottom: 3px ridge #000000; }

main {
  background-color: #FFFFFF;
  color: #000000
  padding: 20px 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: block;
  overflow: auto;
  opacity: 0.8; }

img {border-style: none;}

nav { float: right; background-color: inherit;
width: 175px; font-weight: bold;
font-size: small;
letter-spacing: 0.1em; }

nav ul {text-decoration: none;
list-style-type: none;  }

footer {
  font-size: 70%;
  font-style: italic;
  text-align: center;
  padding: 10px;
  border-bottom: 5px ridge #000000;}
